.a{
    text-align: center;
    font-size: xx-large;
    color: yellow;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
height: auto;
width: auto;
}
body{
    margin: 0;
    padding: 0;
    background-color: slateblue;
    font-family: sans-serif;

}
.b{
    position: absolute;
    width: 500px;
    
}
input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: 2s;

}
*{
    list-style: none;
    text-decoration: none;
}
.sidebar{
    list-style: none;
    text-decoration: none;
    position: absolute;
    right: -250px;
    width: 250px;
    background: #042331;
    transition: all .5s ease;
    margin-top: 106px;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    color: white;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    transition: .4s;}
    
.sidebar header{
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    background-color: black;
    line-height: 70px;
}
ul li a :hover{
    padding-right: 30px;
    color: red;
    transition: 1s;
}
#chk{
    display: none;
}
label #btn, label #close{
    position: absolute;
    cursor: pointer;
    background: yellow;
    border-radius: 3px;

}
label #btn{
    right: 40px;
    top: 285px;
    font-size: 25px;
    padding: 6px 12px;
    transition: all .5s ease;
}
label #close{
    z-index: 1111;
    right: -195px;
    top: 285px;
    font-size: 30px;
    color: black; 
    padding: 4px 9px;
    transition: all .5s ease;

}
#chk:checked ~ .sidebar{
    right: 0px;

}
#chk:checked ~ label #btn{
    right: 250px;
    opacity: 0;
    pointer-events: none;

}
#chk:checked ~ label #close{
    right: 195px;
}

  input[type="text"]
  {
      background: #fff;
      width: 340px;
      height: 50px;
      border: none;
      outline: none;
      padding: 0 25px;
      border-radius: 25px 0px 0px 25px;
      direction: rtl;
  }
  input[type="submit"]
  {
      position: relative;
      border-radius:0px 25px 25px 0px;
      width: 150px;
      height: 50px;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: goldenrod;
      padding-right: 20px;
      margin-top: 20px;
  
  }



.s{
    font-family: sans-serif;
    font-size: 26px;
    color: black;
    text-shadow: #042331;
   
    
}
img{
    display: inline;
    height: 40px;
    width: 40px;
}
#g{
    margin-top: 800px;
    display: block;
    background-color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-stretch: wider;
}
#z{
    text-align: center;
    font-size: xx-large;
   
}
#g{
    color: black;
    background-image: url(assests/jj.jpg);
    background-size: cover;
    width: auto;
    height: 500px;

}
.lol{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: limegreen;
    text-align: center;
    
}
.o{
    width: 300;
    height: auto;
    text-align: center;
    padding-top: 24px;
}
.b{
    width: 45%;
    height: 70px;
}
.test{
    display: inline;
}
.as{
    height: 35px;
    width: 35px;

}
.www{
    text-align: left;
    position: fixed;
    width: 30px;
    height: 40px;

}