#x{
    height: 1000px; 
    width: 400px;
    background-image: url(assests/gg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
    background-size: contain;
  
}
.y{
    text-align: center;
    font-family: fantasy;
    font-size: xx-large;
    color:darkslategray;
}
.a{
    text-align: center;
    color: blue;
    font-size: large;
}
.c{
    text-align: right;
    color: blue;
    font-size: large;
}
ul{
    font-size: large;
    color: aqua;
  
}
.e{
    text-align: left;
    color: lime;
}
a{
    color: chartreuse;
    cursor: grab;
    text-decoration: none;
    text-align: end;
    
}
a:hover{
    color:blueviolet ;
}
h2{
    text-align: center;
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}