.a{
    text-align: center;
    font-size: xx-large;
    color: yellow;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
height: auto;
width: auto;
}
body{
    margin: 0%;
    padding: 0%;
    background-color: slateblue;
    font-family: sans-serif;

}
.b{
    position: absolute;
    width: 500px;
    
}
input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: 2s;

}
*{
    list-style: none;
    text-decoration: none;
}
.sidebar{
    list-style: none;
    text-decoration: none;
    position: absolute;
    right: -250px;
    width: 250px;
    background: #042331;
    transition: all .5s ease;
    margin-top: 106px;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    color: white;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    transition: .4s;}
    
.sidebar header{
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    background-color: black;
    line-height: 70px;
}
ul li a :hover{
    padding-right: 30px;
    color: red;
    transition: 1s;
}
#chk{
    display: none;
}
label #btn, label #close{
    position: absolute;
    cursor: pointer;
    background: yellow;
    border-radius: 3px;

}
label #btn{
    right: 40px;
    top: 285px;
    font-size: 25px;
    padding: 6px 12px;
    transition: all .5s ease;
}
label #close{
    z-index: 1111;
    right: -195px;
    top: 285px;
    font-size: 30px;
    color: black; 
    padding: 4px 9px;
    transition: all .5s ease;

}
#chk:checked ~ .sidebar{
    right: 0px;

}
#chk:checked ~ label #btn{
    right: 250px;
    opacity: 0;
    pointer-events: none;

}
#chk:checked ~ label #close{
    right: 195px;
}

  input[type="text"]
  {
      background: #fff;
      width: 340px;
      height: 50px;
      border: none;
      outline: none;
      padding: 0 25px;
      border-radius: 25px 0px 0px 25px;
      direction: rtl;
  }
  input[type="submit"]
  {
      position: relative;
      border-radius:0px 25px 25px 0px;
      width: 150px;
      height: 50px;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: goldenrod;
      padding-right: 20px;
      margin-top: 20px;
  
  }



.s{
    font-family: sans-serif;
    font-size: 26px;
    color: black;
    text-shadow: #042331;
   
    
}
img{
    display: inline;
    height: 40px;
    width: 40px;
}

   
#z{
    text-align: center;
    font-size: 45px;
    color: darkgoldenrod;
   
}
#g{
    width: auto;
    height: 500px;
   margin: 0%;
    background-color: brown;

}
.lol{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: limegreen;
    text-align: right;
    text-decoration:wavy;
}
.o{
    width: auto;
    height: 80px;
    text-align: center;
    padding-top: 24px;
}
.b{
    width: 45%;
    height: 70px;
}
.test{
    display: inline;
}
.as{
    height: 35px;
    width: 35px;

}
.a1{
    text-decoration: none;
    color: aqua;
    font-size: 25px;

}
.l1 :hover{
    color: yellow;
    font-size: 30px;
}
.a2{
    text-decoration: none;
    color: aqua;
    font-size: 25px;

}
.l2 :hover{
    color: yellow;
    font-size: 30px;
}
.l1{
    background-color: black;
    width: 70px;
    height: 30px;
    
}
.l2{
    background-color: black;
    width: 70px;
    height: 30px;
    
}
.llk{
    width: 140px;
    height:200px ;
}
.em1{
    color: black;
    width: 140px;
    height: 30px;
    text-align: left;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.lls{
    width: 140px;
    height:200px ;
}
.a3{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
.a4{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
.l3{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l4{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l3 :hover{
    color: yellow;
    font-size: 30px;
}
.l4 :hover{
    color: yellow;
    font-size: 30px;
}
.em2{
    color: black;
    width: 140px;
    height: 30px;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sec1{
    width: 260px;
   margin: 0px;
    background-color: purple;
}
.em1 :hover{
    color: black;
}
.em2 :hover{
    color: black;

}
.llv{
    width: 140px;
    height:200px ;
}
.lld{
    width: 140px;
    height:200px ;
}
.em3{
    color: black;
    width: 140px;
    height: 30px;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.em4{
    color: black;
    width: 140px;
    height: 30px;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.l5{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l6{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l7{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l8{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l5 :hover{
    color: yellow;
    font-size: 30px;
}
.l6 :hover{
    color: yellow;
    font-size: 30px;
}
.l7 :hover{
    color: yellow;
    font-size: 30px;
}
.l8 :hover{
    color: yellow;
    font-size: 30px;
}
.a5{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
.a6{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
.a7{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
.a8{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
.sec2{
    width: 260px;
    margin: 0px;
     background-color: purple;
}
.all{
    display: flex;
}
.textsec{
background-image: url(assests/neon.png);
height: 100px;

}
.lg{
    width: 140px;
    height:200px ;
    box-shadow: gold;
}
.sec3{
    width: 260px;
    margin: 0px;
     background-color: purple;
}
.l9{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l10{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l11{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l12{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l9 :hover{
    color: yellow;
    font-size: 30px;
}
.l10 :hover{
    color: yellow;
    font-size: 30px;
}
.l11 :hover{
    color: yellow;
    font-size: 30px;
}
.l12 :hover{
    color: yellow;
    font-size: 30px;
}
.a9{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
.a10{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
.a11{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
.a12{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
.em5{
    color: black;
    width: 140px;
    height: 30px;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.em6{
    color: black;
    width: 140px;
    height: 30px;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.misseda{
    width: 140px;
    height:200px ;
}
.asd{
    width: 140px;
    height:200px ;
  
}
.em7{
    color: black;
    width: 140px;
    height: 30px;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.em8{
    color: black;
    width: 140px;
    height: 30px;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.l13{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l14{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l15{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l16{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l13 :hover{
    color: yellow;
    font-size: 30px;
}
.l14 :hover{
    color: yellow;
    font-size: 30px;

}
.l15 :hover{
    color: yellow;
    font-size: 30px;
}
.l16 :hover{
    color: yellow;
    font-size: 30px;
}
.a13{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
.a14{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
.a15{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
   

.a16{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
.sec4{
    width: 260px;
    margin: 0px;
     background-color: purple;
}

.lla{
    width: 140px;
    height:200px ;
}
.llb{
    width: 140px;
    height:200px ;
}
.em9{
    color: black;
    width: 140px;
    height: 30px;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.em10{
    color: black;
    width: 140px;
    height: 30px;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.l17{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l18{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l19{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l20{
    background-color: black;
    width: 70px;
    height: 30px;
}
.l17 :hover{
    color: yellow;
    font-size: 30px;
}
.l18 :hover{
    color: yellow;
    font-size: 30px;

}
.l19 :hover{
    color: yellow;
    font-size: 30px;
}
.l20 :hover{
    color: yellow;
    font-size: 30px;
}
.a17{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
.a18{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
.a19{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
    

.a20{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
}
.sec5{
    width: 260px;
    margin: 0px;
     background-color: purple;
}
.trend3{
    display: block;
    background-color: yellow;
    width: 200px;

}
.kids3{
    display: block;
    background-color: yellow;
    width: 170px;

}
.manga3{
    display: block;
    background-color: yellow;
    width: 160px;
}
.act3{
    display: block;
    background-color: yellow;
    width: 180px;
}
.act2{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.manga2{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.trend2{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: red;
}
.trend2 ::first-letter{
    color: red;
    font-size: x-large;
}
.kids2{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.kids1{
border-color: black;
height: 80px;
  width: 80px;
}
.act1{
    border-color: black;
    height: 80px;
    width: 80px;
}
.manga1{
    border-color: black;
    height: 80px;
    width: 80px;
}
.trend1{
    border-color: black;
    height: 80px;
    width: 80px;
}
.trendlist{
    width: 220px;
    border-color: gray ;

}
.trend3 :hover{
    color: cadetblue;
}
.kids3 :hover{
    color: cadetblue;
}.manga3 :hover{
    color: cadetblue;
}.act3 :hover{
    color: cadetblue;
}